{% extends "mybase.html" %}

{% block content %}

    <div class="row">
        <div class="two columns side-panel hide-for-small">
            <h3>What to read next?</h3>
            <p>Maybe you'd like to read a book similar to one of your favorites.</p>
            <p>Look it up.<br>See what lists it's on.<br>Choose a list.</p>
            <p>Then find a book to read.</p>
            <p>Try it!</p>
            <form action="/admin/books/book/?url=" method="get">
                <input type="text" name="q" size="30">
                <input type="submit" value="Find Book" class="radius success button">
            </form>
        </div>
        <div class="eight columns main-home-page-panel">
            {#      <div class="row">#}
            {#        <div class="six columns centered">#}
            <h3>What will <em>you</em> discover?</h3>
            <ul class="unstyledlist">
                {% for BookList in BookList_list %}
                    {% if forloop.counter < 7 %}
                        <li><a href="/admin/books/booklist/{{ BookList.id }}">{{ BookList.title }}</a>
                            (Created by {{ BookList.creator_name }})
                            <div id="booklist">
                                <ul>
                                    {% for b in BookList.rank_ordered_books %}
                                        {% if forloop.counter < 5 %}
                                            <li>
                                                <a href="/admin/books/book/{{ b.id }}">
                                                    <img src="{{ b.image_URL }}" height="auto" width="70">
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <img src="http://www.greenwoodusa.com/forms/images/arrow-brown-right.gif"
                                         height="30" width="auto" class="vCenteredImage">
                                    {% if forloop.counter == 1 %}
                                        <img src="http://www.clipartpal.com/_thumbs/pd/education/help-books-aj.svg_aj_ash_01.png"
                                             height="auto" width="100">
                                    {% elif forloop.counter == 2 %}
                                        <img src="http://library.thinkquest.org/J001156/questionbook.GIF"
                                             height="auto" width="100">
                                    {% elif forloop.counter == 3 %}
                                        <img src="http://www.colourbox.com/preview/2222998-662525-doodle-book-with-question.jpg"
                                             height="auto" width="100">
                                    {% endif %}
                                    {% if forloop.counter == 4 %}
                                        <img src="http://www.clipartpal.com/_thumbs/pd/education/help-books-aj.svg_aj_ash_01.png"
                                             height="auto" width="100">
                                    {% elif forloop.counter == 5 %}
                                        <img src="http://library.thinkquest.org/J001156/questionbook.GIF"
                                             height="auto" width="100">
                                    {% elif forloop.counter == 6 %}
                                        <img src="http://www.colourbox.com/preview/2222998-662525-doodle-book-with-question.jpg"
                                             height="auto" width="100">
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {#        </div>#}
            {#      </div>#}
        </div>
        <div class="two columns side-panel hide-for-small">
            <h3>Like making lists?</h3>
            <p>Make your own book list.</p>
            <p>Take notes.</p>
            <p>Keep it private,<br>share with friends,<br>or make it public.</p>
            <p>Your choice.</p>
            <p>Try it!</p>
            <form method="link" action="/admin/books/booklist/add/">
                <input type="submit" value="Create List" class="radius success button">
            </form>
        </div>
    </div>

    <div class="row footer">
        <div class="five columns centered centered-text hide-for-small">
            {#      <a href="http://www.dynamicdrive.com/style/">Dynamic Drive CSS Library</a>#}
            Joe Golton's web development frameworks learning project
            <br><br>Back End: <a href="https://www.djangoproject.com/">Django</a>
            <br>Front End: <a href="http://foundation.zurb.com/">Zurb Foundation</a>
        </div>
    </div>


{%  endblock %}

{#  <div id="maincontainer">#}
{##}
{#    <div id="topsection">#}
{#      <div class="innertube">#}
{#        <h3>CSS Liquid Layout #3.1- (Fixed-Fluid-Fixed)</h3>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div id="contentwrapper">#}
{#      <div id="contentcolumn">#}
{#        <div class="innertube">#}
{#          <h3>What will <em>you</em> discover?</h3>#}
{#          <ul class="unstyledlist">#}
{#            {% for BookList in BookList_list %}#}
{#              {% if forloop.counter < 4 %}#}
{#                <li><a href="/admin/lists/booklist/{{ BookList.id }}">{{ BookList.title }}</a>#}
{#                  (Created by {{ BookList.creator_name }})#}
{#                  <div id="booklist">#}
{#                    <ul>#}
{#                      {% for b in BookList.rank_ordered_books %}#}
{#                        {% if forloop.counter < 5 %}#}
{#                          <li>#}
{#                            <a href="/admin/books/book/{{ b.id }}">#}
{#                              <img src="{{ b.image_URL }}" height="110" width="auto">#}
{#                            </a>#}
{#                          </li>#}
{#                        {% endif %}#}
{#                      {% endfor %}#}
{#                      <img src="http://www.greenwoodusa.com/forms/images/arrow-brown-right.gif"#}
{#                           height="30" width="auto" class="vCenteredImage">#}
{#                      {% if forloop.counter == 1 %}#}
{#                        <img src="http://www.clipartpal.com/_thumbs/pd/education/help-books-aj.svg_aj_ash_01.png"#}
{#                             height="110" width="auto">#}
{#                      {% elif forloop.counter == 2 %}#}
{#                        <img src="http://library.thinkquest.org/J001156/questionbook.GIF"#}
{#                             height="110" width="auto">#}
{#                      {% elif forloop.counter == 3 %}#}
{#                        <img src="http://www.colourbox.com/preview/2222998-662525-doodle-book-with-question.jpg"#}
{#                             height="110" width="auto">#}
{#                      {% endif %}#}
{#                    </ul>#}
{#                  </div>#}
{#                </li>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div id="leftcolumn">#}
{#      <div class="innertube">#}
{#        <h3>What to read next?</h3>#}
{##}
{#        <p>#}
{#          Maybe you'd like to read a book similar to one of your favorites.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Look it up.<br>See what lists it's on.<br>Choose a list.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Then find a book to read.#}
{#        </p>#}
{#        <p>#}
{#          Try it!#}
{#        </p>#}
{#        <form action="/admin/books/book/?url=" method="get">#}
{#          <input type="text" name="q" size="30">#}
{#          <input type="submit" value="Find Book" class="mainbuttonstyle">#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div id="rightcolumn">#}
{#      <div class="innertube">#}
{#        <h3>Like making lists?</h3>#}
{##}
{#        <p>#}
{#          Make your own book list.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Take notes.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Keep it private,<br>share with friends,<br>or make it public.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Your choice.#}
{#        </p>#}
{##}
{#        <p>#}
{#          Try it!#}
{#        </p>#}
{##}
{#        <form method="link" action="/admin/lists/booklist/add/">#}
{#          <input type="submit" value="Create List" class="mainbuttonstyle">#}
{#        </form>#}
{##}
{#      </div>#}
{#    </div>#}
{##}
{#    <div id="footer">#}
{#      <a href="http://www.dynamicdrive.com/style/">Dynamic Drive CSS Library</a>#}
{#      Joe Golton, learning <a href="https://www.djangoproject.com/">Django</a> web development#}
{#    </div>#}
{##}
{#  </div>#}


{%  comment %}
Sniff out a great new book to read
Join other book lovers to create and discuss any kind of book list.
Find books to read. Public or Private.
{% endcomment %}